@import "tailwindcss";

@layer base {
  * {
    font-family: 'Khmer OS Siemreap', 'Siemreap', 'Noto Sans Khmer', sans-serif;
  }
  body {
    font-family: 'Khmer OS Siemreap', 'Siemreap', 'Noto Sans Khmer', sans-serif;
  }
  .font-moul {
    font-family: 'Moul', serif;
  }
  .font-siemreap {
    font-family: 'Khmer OS Siemreap', 'Siemreap', sans-serif;
  }
}


